<!DOCTYPE html>
<html>
{% include 'tmpl_head_label.html' %}
<body>
{% include 'window.onload.js' %}
{% include 'tmpl_navigation.html' %}

<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
            {% block main_body %}{% endblock %}
        </div>
        <!--/span-->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            {% include 'tmpl_sidebar.html' %}
        </div>
        <!--/span-->
    </div>
    <!--/row-->
    {% include 'tmpl_footer.html' %}
</div>
<!--/.container-->

{% include 'tmpl_last_load.html' %}

</body>
</html>